{
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "ecmaVersion": 11,
    "requireConfigFile": false,
    "sourceType": "module"
  },
  "root": true,
    "env": {
      "node": true
    },
    "extends": [
      "plugin:vue/vue3-essential",
      "eslint:recommended"
    ],
    "rules": {}
}
