{% extends "layouts/form-layout.html" %}

{% block form %}
 {% if form.interest.errors %}
    <ul>
      {% for error in form.interest.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
{% endif %}
<form action="/add-interests" method="post">
  {{ form.hidden_tag() }}
  <div> 
     {% for interest, choice in choice_combo %}
     {{ interest() }}
    <label for="interest-{{loop.index0}}">
        {{ choice.hobby }}
    </label>
    <img src="{{ choice.hobby_image }}" width="200" height="200">
     {% endfor %}
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
{% endblock %}